---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=25&screen_name=dyba
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAG4lxgAAAAAAGAmRnmHaDoranwPpCCKT6PLW8XQ%3Dwus8RpCIhFwXb4NBRTK7GbNDu6xVTLPvRmnsW9rNTyd2N6jJhA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 18 Oct 2016 04:36:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - cb2bb8262dbae8f102ef1c150181abab
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1476766305'
      X-Response-Time:
      - '70'
      X-Transaction:
      - 006d4efd00648b2b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Dec 04 20:10:55 +0000 2015","id":672870718799908865,"id_str":"672870718799908865","text":"@bobby_axelrod
        SRSLY?! \ud83d\ude02\ud83d\ude02\ud83d\ude02 must this be public???","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"bobby_axelrod","name":"Bobby
        Axelrod","id":4784611772,"id_str":"4784611772","indices":[0,14]}],"urls":[]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":19823746,"id_str":"19823746","name":"Daniel
        Dyba","screen_name":"dyba","location":"Los Angeles, CA","description":"","url":"http:\/\/t.co\/QyUd64l9tG","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/QyUd64l9tG","expanded_url":"http:\/\/danieldyba.com","display_url":"danieldyba.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":236,"friends_count":305,"listed_count":5,"created_at":"Sat
        Jan 31 17:48:48 +0000 2009","favourites_count":489,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":1765,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"5974B5","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme2\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1391792680\/559_320_05_28_11_SerenaNam_0595_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1391792680\/559_320_05_28_11_SerenaNam_0595_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/19823746\/1411902921","profile_link_color":"9C2B0C","profile_sidebar_border_color":"594012","profile_sidebar_fill_color":"DBCFAF","profile_text_color":"663B12","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Fri
        Dec 04 16:31:24 +0000 2015","id":672815476645298176,"id_str":"672815476645298176","text":"RT
        @cognitect: 2015 State of Clojure Community Survey  https:\/\/t.co\/3aGXMwb9hK","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"cognitect","name":"Cognitect,
        Inc.","id":1631031986,"id_str":"1631031986","indices":[3,13]}],"urls":[{"url":"https:\/\/t.co\/3aGXMwb9hK","expanded_url":"http:\/\/blog.cognitec[...]
